@import '@/variables.scss';

.catalog-page-root {
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and (max-width: 1065px) {
        padding: 0;

        .detail-add-to-cart-btn {
            width: 100%;
        }
    }

    .header {
        position: sticky;
        background-color: $white-clean;
        top: 0;
        z-index: 10;
        padding: 0 $base-distance * 3 0 $base-distance * 3;
        border-bottom: 1px solid $light-gray;
        margin-bottom: $base-distance * 2;

        @media screen and (max-width: 1065px) {
            top: 60px;
            padding: $base-distance * 2;
        }
    }

    .desktop-categories {
        @media screen and (max-width: 1065px) {
            display: none !important;
        }

        .ant-tabs-nav {
            margin-bottom: 0 !important;
        }

        .category-tabs.ant-tabs-tab {
            font-weight: 500;
        }
    }

    .mobile-categories {
        display: none;

        @media screen and (max-width: 1065px) {
            display: flex;
            gap: $base-distance * 2;
            align-items: center;
            width: 100%;
            margin-top: $base-distance * 2;
            padding-bottom: $base-distance * 2;

            .mobile-category-select {
                flex: 1;
            }
        }
    }

    .category-tabs {
        .ant-tabs-nav {
            margin-bottom: 0 !important;
        }

        .category-tabs.ant-tabs-tab {
            font-weight: 500;
        }
    }

    .catalog-products-row {
        min-height: 400px;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .product-image-container {
            height: 220px;
            padding: $base-distance * 3;
            display: flex;
            justify-content: center;
            border-bottom: 1px solid $light-gray;

            .product-image {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }

        .product-title {
            display: -webkit-box;
            line-clamp: 2;
            white-space: normal;
            height: $base-distance * 5;
            line-height: 1.4;
        }

        .product-details {
            display: flex;
            flex-direction: column;
            gap: $base-distance;

            .product-price {
                font-size: $base-distance * 2.5;
            }

            .product-rating {
                display: flex;
                align-items: center;
                gap: $base-distance;

                .rating-stars {
                    font-size: $base-distance * 2;
                }

                .rating-count {
                    font-size: $base-distance * 1.5;
                }
            }
        }

        .ant-card-actions {
            padding: $base-distance;
            background: none;
            border-top: none;

            > li {
                margin: 0;
            }

            .add-to-cart-btn {
                width: 100%;
                border-radius: $base-distance;
            }
        }
    }
}

.full-width {
    width: 100%;
}

.back-btn {
    margin: $base-distance * 3;
    font-size: $base-distance * 3;

    @media screen and (max-width: 1065px) {
        margin: 0;
        padding: 0;
    }
}

.image-col {
    text-align: center;
    padding: $base-distance * 5;

    @media screen and (max-width: 1065px) {
        padding: $base-distance * 3;
    }
}

.main-image {
    max-height: 400px;
    width: 100%;
    object-fit: contain;

    @media screen and (max-width: 1065px) {
        max-height: 250px;
    }
}

.info-space {
    display: flex;
}

.no-margin {
    margin: 0;
}

.footer-filter-buttons {
    display: flex;
    gap: $base-distance;

    @media screen and (max-width: 1065px) {
        justify-content: space-around;

        .filter-buttons {
            width: 33%;
        }
    }
}

@media screen and (max-width: 1065px) {
    .filter-drawer-content {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 0 auto;

        .currency {
            display: flex;
            flex-direction: column;
            gap: $base-distance;
        }

        .sorting {
            display: flex;
            flex-direction: column;
            gap: $base-distance;
        }

        .rating {
            display: flex;
            flex-direction: column;
            gap: $base-distance;
        }
    }
}
