@import '@/variables.scss';

.login-page-root {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    .login-card {
        width: 350px;
    }

    .login-title {
        text-align: center;
    }

    .login-hint {
        margin-bottom: $base-distance * 2;
        text-align: center;
    }

    .buttons-section {
        display: flex;
        flex-direction: column;
        gap: $base-distance;
    }
}
